---
BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 120
SeparateDefinitionBlocks: Always
MaxEmptyLinesToKeep: 2
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
InsertNewlineAtEOF: true
BreakBeforeBraces: Attach
AlignTrailingComments: true
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
SpaceBeforeParens: ControlStatements
